@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap');

/*

COLOR PALLETE:

0081A7
00AFB9
FDFCDC
FED9B7
F07167

FONTS:

CFCECF
545354


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#nav-link {
    display: inherit;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    border-right: 1px solid #545354;
    box-shadow: 10px 20px #FED9B7;
}

ul li{
    list-style: none;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: #CFCECF;
}

a:hover, .selected{
    color: #545354;
}

.displayoff{
    display: none;
}

#render-container{
    width: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 672px;
    border: 1px solid #545354;
    border-radius: 50px;
    box-shadow: 10px 15px #FED9B7;
}

.container img{
    width: 300px;
    height: auto;
    margin-top: 361px;
    margin-right: 45px;

    animation: 0.5s characterOpacity;
    font-size: 1.5em;
    font-weight: 200;
  }
  
@keyframes characterOpacity {
    from {
        opacity: 0%;
    }
  
    to {
        opacity: 100%;
    }
}

#skills-info img{
    width: 180px;
    margin-top: 446px;
}

#projects-info img{
    width: 130px;
    margin-top: 446px;
}

#experience-info img{
    width: 280px;
    margin-top: 399px;
}

#contact-info img{
    width: 240px;
    margin-top: 433px;
}

#code,
#design{
    height: 172px;
}

#code img,
#design img{
    width: 60px;
    height: 60px;
    margin: 10px;
    animation: 0.5s iconOpacity;
}

@keyframes iconOpacity {
    from{
        padding-left: 100%;
    }
    to{
        padding-left: 0%;
    }
}

#project img{
    width: 320px;
    height: 200px;
    margin: 20px;
    animation: 0.5s projectOpacity;
}

@keyframes projectOpacity {
    from {
        margin-left: 40%;
    }
  
    to {
        margin-left: 20px;
    }
}

#info h2{
    margin: 20px 0;
}

#info{
    width: 70%;
    height: 80%;
    margin-left: 40px;
    color: #545354;
    margin-bottom: 40px;
}

#info p{
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
    animation: 0.5s slidein;
    font-size: 1.5em;
    font-weight: 200;
}

#academics p{
    font-size: 1em;
}
  
 @keyframes slidein {
    from {
        margin-left: 100%;
    }
  
    to {
        margin-left: 20px;
    }
}

#contact {
    height: 100% !important;
}

#contact-form{
    display: flex;
    height: 95%;
    flex-direction: column;
    align-items: flex-start;
}

#contact-form label,
#contact-form input,
#contact-form textarea,
#contact-form button{
    width: 20%;
    margin-left: 20px;
    animation: 0.5s slidein;
    font-size: 1.2em;
    font-weight: 200;
}

#contact-form input{
    width: 80%;
    padding: 5px 20px;
    border: 1px #545354 solid;
    border-radius: 20px;
}

#contact-form textarea{
    width: 80%;
    height: 150px;
    resize: none;
    padding: 5px 20px;
}

.button{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#contact-form button{
    width: 50px;
    height: 50px;
    align-self: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

#contact-form button img{
    margin: 0;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.displayoff{
    display: none !important;
}